<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <form class="example-form" [formGroup]="formGroup">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Emails</mat-label>
          <input matInput placeholder="email@domain.com" formControlName="email">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
            <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <div class="text-center">
          <button type="button" mat-raised-button color="primary" (click)="auth()">Login</button>
        </div>
      </form>

      <div class="text-center mt-3 example-form">
        -OR-
      </div>

      <div class="text-center mt-3 example-form">
        <button type="button" mat-raised-button class="btn btn-danger" (click)="loginWithGoogle()"><fa-icon [icon]="faGoogle"></fa-icon> Login with Google</button>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>